.footer {
    width: 100%;
}

.footer__info-top, .footer__column {
    background-color: var(--background-color-footer);

}

.footer__info-top{
    padding-left: 174px;
    padding-right: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:110px 174px 15px 174px;
    
}

.footer__info-left, .footer__info-right{
    font-family: var(--index-history-p-font);
    flex:1;
    margin: 0 10px;
    box-sizing: border-box;
    flex-direction: column; 
    display: flex;
}

.footer__info-left{
    text-align: left;
    max-width: 100%;
}

.footer__info-right{
    align-items: flex-end; 
    width: 370px;
    height: 133px;
    
}

.footer__email-input {
    font-size: 15px;
    width: 100%;
    background-color: var(--background-color-footer-email);
    color: var(--color-light);
    line-height: 18px;
    font-weight: 400px;
    padding: 16px 25px 16px 25px;
}

.footer__email-button {
    width: 100%;
    background-color: var(--brand-color);
    color: var(--color-light);
    text-align: center;
    line-height: 15px;
    position: relative;
    padding: 16px 25px 16px 25px;
    font-weight: 700;
    margin-top: 24px;
}

.footer__info-top-label{
    color: var(--brand-color);
    font-family: var(--great-vibes-font);
    font-size: 28px;
}

.footer__info-top-title,.footer__info-top-text{
    color: var(--color-light);
}

.footer__info-top-title{
    font-size: 32px;
    font-family: var(--index-history-header-font);
    margin-top: 20px;
}

.footer__info-top-text{
    font-family: var(--index-history-p-font);
    font-size: 16px;
    margin-top: 25px;
}

.footer__column-title{
    color: var(--color-light);
    font-family: var(--index-history-header-font);
    font-size: 22px;
}

.footer__bottom {
    background-color: var(--background-color-footer-bottom);
    color: var(--color-light);
    font-family: var(--index-history-p-font);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 62px;
    padding-left: 174px;
    padding-right: 174px;
}

.footer__bottom-created, .footer__bottom-reserved {
    margin: 0;
}

.footer__bottom-created {
    text-align: left;
}

.footer__bottom-reserved {
    text-align: right;
}
