.header__nav {
    position: fixed;
    display: flex;
    height: 105px;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: row;
    padding-left: 174px;
    align-items: center;
    width: 100%;
}

.header__logo {
    width: 176px;
}

.header__logo-container {
    padding-right: 494px;
}

.header__menu {
    list-style: none;
    display: flex;
    grid-gap: 16px;
    padding-right: 38px;
}

.header__menu-link {
    color: var(--color-light);
    font-size: 14px;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.header__socials {
    flex: 0.5;
    list-style: none;
    display: flex;
    grid-gap: 15px;
}

.header__menu-link svg:hover {
    all: initial; /* reset css*/
    path {
        fill: var(--brand-color);
        transition: fill 0.2s ease-out;
    }
    path.logo_2gS {
        fill-opacity: 0;
    }   
}
    

