.footer {
    width: 100%;
}
.footer__block, .footer__column {
    background-color: var(--background-color-footer);
}

.footer__block{
    padding-left: 174px;
    padding-right: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer__block-info{
    flex:1;
    margin: 0 10px;

}
.footer__block-info-label{
    color:var(--brand-color);
    font-family: "Great Vibes", cursive;
    font-size: 28px;
}
.footer__block-info-title,.footer__block-info-text{
    color: var(--color-light);
}

.footer__bottom {
    background-color: rgb(19, 15, 14);
    color: var(--color-light);
    font-family: var(--index-history-p-font);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 62px;
    padding-left: 174px;
    padding-right: 174px;
}

.footer__bottom-created,
.footer__bottom-reserved {
    margin: 0;
}

.footer__bottom-created {
    text-align: left;
}

.footer__bottom-reserved {
    text-align: right;
}
