/* Rubik font import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* Prata font import */
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --index-history-p-font: 'Rubik', sans-serif;
    --index-history-header-font: 'Prata', serif;
    --index-history-font-color: #898082;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.history{
    margin: 0;
    background-color: #261e1c;
}

.history__img-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.history__img-container img{
    max-width: 100%;
    width: 90vw;
    margin-top: 7rem;
}

.history__card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.history__card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left; 
    width: 100%;
    margin: 0;
}




.history__card-item h4 {
    margin-bottom: 2rem;
    font-size: clamp(22px, 2vw, 24px);
    color: white;
    font-weight: normal;
    font-family: var(--index-history-p-font);
    text-align: left;  
    
}

.history__item-desc {
    margin-top: 2rem;
    font-size: clamp(16px, 2vw, 20px);
    color: #898082;
    font-weight: normal;
    font-family: var(--index-history-header-font);
    text-align: left;  
}

.history__item-year {
    margin-bottom: 3rem;
    font-size: 14px;
    color: #c8693a;
    font-weight: normal;
    font-style: italic;
    font-family: var(--index-history-p-font);
    text-align: left;  
}
@media (min-width: 500px) and (max-width: 799px) {
    .history__card {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}
@media (min-width: 800px) {
    .history__card {
        grid-template-columns: repeat(4, 1fr); /* 4 columns */
    }
}