.age__restriction-container {
    background-color: var(--background-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 24px;
    height: 100vh;

    .age__restriction-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 20px;

        .age__restriction-title {
            color: var(--color-light);
            font-family: var(--secondary-font);
            font-size: 3.625rem;
            line-height: 69.6px;
            font-weight: 400;
            padding-bottom: 20px;
        }
        
        .age__restriction-description {
            font-size: 1rem;
            color: var(--color-secondary-text);
            line-height: 25.6px;
        }
    }
}

@media (min-width:600px) {
    .age__restriction-container {
        padding: 150px 0;

        .age__restriction-inner {
            margin: 0 40px;

            .age__restriction-description {
                line-height: 25.6px;
            }
        }
    }
}

@media (min-width:801px) {
    .age__restriction-container {
        & .age__restriction-inner {
            .age__restriction-title {
                font-size: 4.44rem;
            }
        }
    }
}
