.shop {
  background-color: var(--background-color-dark);
  padding: 80px 0;
  text-align: center;
}

.shop__title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px 0;
  /*max-width: 1200px;*/
}

.shop__title {
  color: var(--brand-color);
  font-family: var(--accent-font), serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0 24px;
}

@media (min-width: 480px) {
  .shop__title {
    font-size: 24px;
    font-weight: 400;
  }
}

.shop__subtitle {
  color: var(--color-light);
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 36px;
  margin: 20px 24px;
}

@media (min-width: 480px) {
  .shop__subtitle {
    font-size: 48px;
    font-weight: 400;
  }
}

.shop__subtitle__p {
  color: var(--color-light);
  margin: 32px 24px;
}

.shop__container {
  max-width: 1200px;
  margin: 0 auto;
}

.shop__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 0 32px;
}

@media (min-width: 480px) {
  .shop__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 0 32px;
  }
}

@media (min-width: 992px) {
  .shop__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    /*grid-row-gap: 30px;*/
    margin: 0 32px;
    /*max-width: 1200px;*/
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__title {
  font-family: "Rubik", sans-serif; /*primary font*/
  color: var(--color-light);
  font-size: 16px;
  font-weight: 100;
  margin-top: 16px;
}

@media (min-width: 992px) {
  .product-card__title {
    font-size: 20px;
    font-weight: 100;
  }
}

.product-card__price {
  font-family: "Rubik", sans-serif; /*primary font*/
  color: var(--color-light);
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
}

.product-card__button {
  margin: 24px 0;
  padding: 11px 23px;
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-radius: var(--btn-border-radius);
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  color: var(--color-light);
  font-family: "Rubik", sans-serif; /*primary font*/
  font-weight: 600;
  font-size: 14px;
  text-align: center;

  &:hover {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
    cursor: pointer;
  }
}
