<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></nav>
    </header>
    <main>
      <!-- start Olena Hrynyshyn section -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-natural.partial.html"
      ></section>
      <!-- end Olena Hrynyshyn section -->
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-about.partial.html"
      ></nav>
      <!-- History block (Number 6) - Anton. -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-history.partial.html"
      ></section>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-join.partial.html"
      ></nav>
      <!--start Mariia Kochetkova https://trello.com/c/aqzF1Xo4/10-10-categories-->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.categories.partial.html"
      ></div>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-discounts.partial.html"
      ></section>
      <!--end Mariia Kochetkova https://trello.com/c/aqzF1Xo4/10-10-categories-->
    </main>
    <footer>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></nav>
    </footer>
  </body>
</html>
